version: "3.9"
services:
  inference-app:
    container_name: sagepick-inference-app
    build:
      context: .
      dockerfile: Dockerfile
    env_file:
      - .env
    expose:
      - "8001"
    restart: unless-stopped
    command: ["uvicorn", "app.main:app", "--host", "0.0.0.0", "--port", "8001"]
